.preload-zendesk {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 45px;
  background-color: rgb(235, 63, 147);
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  color: rgb(54, 15, 34);
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-feature-settings: "kern", "kern";
  font-kerning: normal;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 45.9688px;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 13px;
  border: none;
  border-radius: 13px;
}
